@import '_variables.css';

.container {
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1200px;
  width: 100%;

  @media <=768px {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.primary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); 
  grid-gap: 25px;
}
